body {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-variant: small-caps;
}

h2 {
  padding: 1em;
}

a {
  color: darkslategrey;
}